services:
  streamlit-app:
    build:
      context: .
      dockerfile: apps/chatbot_ui/Dockerfile
    ports:
      - 8501:8501
    env_file:
      - .env
    environment:
      - API_URL=http://api:8000
    restart: unless-stopped
    volumes:
      - ./apps/chatbot_ui/src:/app/apps/chatbot_ui/src

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - QDRANT_URL=http://qdrant:6333
      - POSTGRES_CONNECTION_STRING=postgresql://user:pwd@postgres:5432/db
    restart: unless-stopped
    volumes:
      - ./apps/api/src:/app/apps/api/src
  qdrant:
    image: qdrant/qdrant
    ports:
      - 6333:6333 # port to access Qdrant client interface
      - 6334:6334 # port for internal Qdrant communication
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pwd
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: unless-stopped
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
